.sidebar{
    flex: 2;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    font-family: 'Noto Sans', sans-serif;
    font-style: 12px;
    font-weight: 600;
    color: #222;
    line-height: 20px;
    text-align: center;
}

.sidebarItem>img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
}

.sidebarItem>p{
    padding: 30px;
    font-family: 'Lora', serif;
}

.sidebarList{
    margin-bottom: 30px;
    list-style: none;
}

.sidebarListItems{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}